body {
  margin: 0;
  background-color: #181644;
  overflow: hidden;
  font-family: Vazirmatn, Tahoma, Arial, sans-serif;
  background: radial-gradient(#86fffd 0%, #2e81d9 50%, #280367 110%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* opacity: 0.9; */
  mix-blend-mode: overlay;
  z-index: -1;
}
.overlay h1 {
  font-size: 30px;
  font-weight: 900;
  color: white;
  text-align: center;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

canvas {
  display: block;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  z-index: 999;
}

#info {
  position: fixed;
  top: 10%;
  right: 10px;
  background-color: rgba(169, 169, 169, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Vazirmatn, sans-serif;
}
#throwButton {
  position: absolute;
  bottom: calc(10vw + env(safe-area-inset-bottom));
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  font-family: Vazirmatn, sans-serif;
  font-size: 16px;
  font-weight: 900;
  background-color: rgb(90, 254, 254);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1001;
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-height: 44px;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  user-select: none;
  mix-blend-mode:hard-light;
  -webkit-user-select: none;
  box-shadow: 0 0 10px #0ff, 0 0 40px #0fff, 0 0 80px #0fff;
  animation: hueMove 10s linear infinite;
}

#throwButton:active {
  background-color: #a4ffeb;
  color: #ccccce;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes hueMove {
  0%   { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}
#info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(550%);
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 1000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  #throwButton {
    width: 40%;
    font-size: 18px;
  }
  #info {
    font-size: 18px;
    top: calc(100px + env(safe-area-inset-top));
  }
}

/* جلوگیری از انتخاب تصادفی متن و رفتارهای پیش‌فرض در موبایل */
body,
#throwButton,
#info,
canvas {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
